<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
	<div class="my-0 mr-md-auto font-weight-normal"><img width="20%" src="http://agiles2013.agiles.org/sites/default/files/agileslogo_big.png" alt="Shard" class="shard"></div>
	<nav class="my-2 my-md-0 mr-md-3">
		<a class="p-2 text-dark" href="#">Inicio</a>
	</nav>
</div>

<div class="container" style="width:100%">
	<div class="row">
		<div class="col-lg-12 text-center">
			<img width="40%" src="http://agiles2013.agiles.org/sites/default/files/agileslogo_big.png" alt="Shard" class="shard">
			<h1 class="mt-5">Jornadas Ágiles Latinoamericanas 2018</h1>
			<p class="lead">El evento más importante de agilidad y software se realizará en la <strong>Ciudad de México.</strong></p>
			<button type="button" class="btn btn-primary">¡Próximamente más detalles!</button>
			<br><br>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 text-center">
			<img src="assets/img/mexico3.png" width="70%"/>
		</div>
	</div>
</div>

<div class="container marketing">
	<hr class="featurette-divider">
	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">Ágiles México <span class="text-muted"> será encargada de hacer esto posible.</span></h2>
			<p class="lead">La comunidad mexicana será la encargada de organizar este evento. Síguelos en sus redes sociales:</p>
			<a href="http://agilesmx.herokuapp.com/" class="btn btn-outline-primary"> <i class="fab fa-slack"></i> Slack </a>
			<a href="https://www.facebook.com/agilesMexico/" class="btn btn-outline-primary"> <i class="fab fa-facebook"></i> Facebook </a>
			<a href="https://twitter.com/agilesmexico" class="btn btn-outline-primary"> <i class="fab fa-twitter"></i> Twitter </a>
			<br><br><a href="https://www.meetup.com/es/Agile-Mexico-Meetup" class="btn btn-outline-primary"> <i class="fab fa-meetup"></i> Meetup </a>
			<a href="https://agilesmexico.github.io/" class="btn btn-outline-primary"> <i class="fab fa-internet-explorer"></i> Blog </a>
			<a href="https://github.com/AgilesMexico" class="btn btn-outline-primary"> <i class="fab fa-github"></i> Github </a>
		</div>
		<div class="col-md-5">
			<img class="featurette-image img-fluid mx-auto" src="assets/img/agiles.png">
		</div>
	</div>
</div>

<div class="container marketing">
	<hr class="featurette-divider">
	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">Individuos e Interacciones <span class="text-muted"> sobre procesos y herramientas.</span></h2>
			<p class="lead"> La comunidad de Ágiles México se encuentra buscando la mejor forma de organizar un evento de esta magnitud.
			¡Estamos muy emocionados!</p>
		</div>
		<div class="col-md-5">
			<img class="featurette-image img-fluid mx-auto" src="assets/img/reunion.jpg">
		</div>
	</div>
</div>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
	<div class="col-md-5 p-lg-5 mx-auto my-5">
		<h1 class="display-4 font-weight-normal">¡Espera más detalles!</h1>
		<p class="lead font-weight-normal">Próximamente daremos a conocer la sede, fechas, precios, patrocinadores, y keynotes.</p>
		<a class="btn btn-outline-secondary" href="#"> Próximamente </a>
	</div>
</div>

<footer class="footer" style="background-color:#263a82">
	<div class="container">
		<br><span class="text-white"> Sitio en Construcción. </span>
		<br><br><br>
	</div>
</footer>
