<!-- Page Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1 class="mt-5">Jornadas Ágiles Latinoamericanas 2018</h1>
			<p class="lead">El evento más importante de agilidad y software se realizará en la <strong>Ciudad de México.</strong></p>
			<img width="30%" src="http://agiles2013.agiles.org/sites/default/files/agileslogo_big.png" alt="Shard" class="shard">


			<img src="assets/img/team.png"/>
			<img src="assets/img/workers.png"/>
			<img src="assets/img/teamwork.png"/>


		</div>
	</div>
</div>

